# Jetbrains tools ######################################################################################################

.idea

# Node tools ###########################################################################################################

node_modules

# Parcel tools #########################################################################################################

.parcel-cache

# Others ###############################################################################################################

dist
